* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(the\ witcher\ fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.header-conteiner {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 30vh;
}

.header-symbol {
    width: 3rem;
    margin-left: 13rem;
}

.header-title {
    padding: 2rem;
    margin-right: 20rem;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 2rem;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:hover {
    font-weight: bolder;
}

.main-conteiner {
    display: flex;
    justify-content: center;
}

.body-image {
    background-image: url(the\ witcher\ kavil2.png);
    background-repeat: no-repeat;
    position: relative;
    width: 45rem;
    height: 60rem;
}

.witcher-logo {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 30rem;
    left: 5rem;
    width: 35rem;
    height: 15rem;
}

.main-button {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 32rem;
    left: 13rem;
    width: 20rem;
    height: 6rem;
}