* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

body {
    width: 98vw;
    background-image: url(imagens/the\ witcher\ fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-menu {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
@media(max-width: 768px) {
    .header-menu {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
}

.header-box {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.header-symbol {
    height: 45%;
}

.header-title {
    padding: 1.5rem;
}

.header-list {
    padding: 1.5rem;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
}
@media(max-width: 768px) {
    .header-list {
        flex-direction: column;
        text-align: center;
    }
}

li {
    justify-content: space-around;
}

nav ul li:hover {
    font-weight: bolder;
}

.main-conteiner {
    display: flex;
    justify-content: center;
}

.body-character {
    height: 70vw;
    width: 50vw;
    background-image: url(imagens/the\ witcher\ kavil2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.witcher-logo {
    width: 70%;
    position: relative;
    top: 30vw;
    left: 7vw;
}

.watch-button {
    height: 10vh;
    width: 20vw;
    background-color: rgb(255, 41, 41);
    border: #fff 1px solid;
    position: relative;
    top: 32vw;
    left: 15vw;
    cursor: pointer;
}